[submodule "lib/staticReflection"]
	path = lib/staticReflection
	url = git://github.com/manuelpichler/staticReflection.git
[submodule "tests/lib/proxyObject"]
	path = tests/lib/proxyObject
	url = git://github.com/lapistano/proxy-object.git
[submodule "tests/lib/ProxyObject"]
	path = tests/lib/ProxyObject
	url = git://github.com/lapistano/proxy-object.git
