<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutChangesToGlobalState="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="phpDox">
            <directory suffix="Test.php">tests/Unit</directory>
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" showUncoveredFiles="true" target="build/logs/coverage/html" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-xml" target="build/logs/coverage/xml"/>
        <log type="junit" target="build/logs/junit.xml"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/bootstrap</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
