/*  for IE8 and below */
/* convert rgba-colours in the background into hex with: http://beijingyoung.com/articles/rgba-argb-converter/ */
/* strip-off the "a" rgba if it is only "color" */

.clearfix { *height:1%; }  /* trigger hasLayout for IE6 + 7 */
h1, h2, h3 { color: rgb(0,0,0);}

.topbar {
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#BF000000', EndColorStr='#BF000000');
	zoom: 1!important;	
}

.btn {
  *display: inline;
  *zoom: 1;
  background-color: transparent\9;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0); 
}
.btn:hover,
.btn:focus {
    background-color: transparent\9;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe6e6e6', endColorstr='#ffffffff', GradientType=0);
}