/* styling basics */
html {padding: 20px 0; background-color: #efefef;}
body {font-family: Arial, sans-serif; font-size: 100.01%;}

/* clearfix */
.clearfix:after { clear:both; content:"."; display:block; font-size:0; height:0; visibility:hidden; }
.clearfix { display:block; } /* extra for Safari */


h1, h2, h3, h4, h5, h6 {font-family: Verdana, Arial, Helvetica, sans-serif; }

/*  Topbar */
.topbar { margin: -20px -20px 2em -20px; padding: 1em 0;}
.topbar a { text-decoration: none;}
.topbar a:hover, .topbar a:focus { text-decoration: underline;}
.topbar h1 { float: left; font-size:1em; margin:0 0 0 2em;}
.topbar .nav { list-style-type:none; float:right; margin:0 2em 0 0;}
.topbar .nav li { float:left;}

/* page-layout  */
.wrapper {
    width: 90%; 
    max-width: 1200px;
    padding: 20px; 
    margin: 40px auto 0 auto; 
    background: #fff; 
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5); 
}

.indexcontent {margin: 1em auto; width: 90%;}

.navigation {float: left;width: 200px;}
.navigation ul, .navigation li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.navigation a {
    display: block;
    border-bottom: 1px solid #cecece;
    margin-bottom: 0.25em;
    padding: 0.5em 0;
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
}

.navigation h3 {
    clear: both;
}

.navigation a:hover, .navigation a:focus {
    padding-left: 0.75em;
	background-color:#f5f5f5;
}

.content {margin-left: 250px;}

pre {
    display:block;
	padding:20px;
	margin:0 0 1.5em 0;
	font-size: 0.8em;
    background-color:#f5f5f5;
    border:1px solid #ccc;
	border-radius:3px;
    white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
	max-width: 700px;
}

/* ===== Buttons  */ 
.btn {
  display: inline-block;
  padding: 4px 14px;
  margin-bottom: 0;
  line-height: 1.2;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background: #e6e6e6;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background: 				-webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background: 					 -o-linear-gradient(top, #ffffff, #e6e6e6);
  background: 				   -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background: 				  linear-gradient(to bottom, #ffffff, #e6e6e6);
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #a2a2a2 #bfbfbf;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.btn:hover,
.btn:focus {
    background: #e6e6e6;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
    background: 			  -webkit-linear-gradient(top, #e6e6e6, #ffffff);
    background: 				   -o-linear-gradient(top, #e6e6e6, #ffffff);
    background: 				 -moz-linear-gradient(top, #e6e6e6, #ffffff);
    background: 				linear-gradient(to bottom, #e6e6e6, #ffffff);
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:active {
  background-color: #e6e6e6;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.large {
  padding: 9px 14px;
}

/* ========= linklists  */

.linklist 	 {list-style-type: none;padding-left: 0;margin-left: 0;}
.linklist li {margin: 0 0 0.3em 0;}
.linkbox 	 {float: left;width: 30%;margin-right: 3%;}


/* ======== inheritance  */
ul.inheritance {list-style-type:none;}
ul.inheritance li:before {content:"↪ ";}
ul.inheritance li:first-child:before {content:"";}
/*  looks strange but is CSS3-selector simulated for oldIE :-) */
ul.inheritance li + li + li {margin-left: 1em;}
ul.inheritance li + li + li + li {margin-left: 1.5em;}
ul.inheritance li + li + li + li + li {margin-left: 2em;}
ul.inheritance li + li + li + li + li + li {margin-left: 2.5em;}
ul.inheritance li + li + li + li + li + li + li {margin-left: 3em;}

/* ======== method:param, method:return, method:trows  */
ul.param, ul.return, ul.throws {list-style-type:none;}
h4.param {margin-bottom: 0px;}

/* ======== method:return, method:trows  */
h4.return, h4.throws {margin-top: 0px; margin-bottom: 0px;}

/*  ========= Footer */
.footer	{clear:both;margin:2em 0 1em 0;padding:0.5em 1em;border-top:2px solid #cecece;font-size: 0.85em;}

/* =========== 
	the content ========================================== */

/* different labels */
.label {padding: 0.25em 0.5em; border-radius: 3px;text-transform: uppercase;font-size: 0.5em; color: #fff;}
	.private 	{background-color: #a20000;}
    .protected 	{background-color: #efba00;}
	.public 	{background-color: #00b25c;}

/* the name of the member-variable */
.var-member {font-weight: bold;}

/*  which variable type? */
.var-type {font-style:italic;}

.label, .var-member, .var-type {display: inline-block;margin-right: 0.5em;}

/* short description of the variable */
.var-desc {	margin-top: 0.25em;}

/* optional long description of the variable */
.var-longdesc{ background-color:#f5f5f5; border:1px solid #ccc; padding:0.4em; margin-top:0.25em;}

/* list with infos and with vars */
.extendlist, .varlist, .varinfos {list-style-type: none;}
.varinfos { border-bottom: 1px solid #cecece; padding-bottom: 1em; margin-bottom: 1em;}

@media only screen and (max-width: 800px) {
	.navigation, .content {float: none; position: relative; margin-left: 0; width: auto;}
	.navigation h2, .content {clear: both;}
	.navigation ul, .navigation li {float: left;}
	.navigation h2 {margin-bottom: 0;}
	.navigation ul {overflow: hidden;margin-top: 0;}
	.navigation a {border-bottom: none; margin-right: 0.5em;padding: 0.4em 0.75em; background-color: #f4f4f4;border-radius: 5px;}
	.navigation a:hover, .navigation a:focus {background-color: #cecece;}
	.linkbox {float: none;width: auto; margin-right: 0;}
}


/* ================== 
	animations ======================================================= */

@media only screen and (min-width: 801px) {
	.navigation a {
	    -webkit-transition: padding-left 0.2s ease-in, background-color 0.2s ease-in;
	       -moz-transition: padding-left 0.2s ease-in, background-color 0.2s ease-in;
	         -o-transition: padding-left 0.2s ease-in, background-color 0.2s ease-in;
	            transition: padding-left 0.2s ease-in, background-color 0.2s ease-in;	
	}
}
	
h4:target {
    -webkit-animation: target-fade 2s 1;
       -moz-animation: target-fade 2s 1;
        -ms-animation: target-fade 2s 1;
            animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
    0%       { background-color: #ffffff;}
    75%      { background-color: #f7d484;}
    100%     { background-color: #ffffff;}
}

@-moz-keyframes target-fade {
    0%       { background-color: #ffffff;}
    75%      { background-color: #f7d484;}
    100%     { background-color: #ffffff;}
}

@-ms-keyframes target-fade {
    0%       { background-color: #ffffff;}
    75%      { background-color: #f7d484;}
    100%     { background-color: #ffffff;}
}

@keyframes target-fade {
    0%       { background-color: #ffffff;}
    75%      { background-color: #f7d484;}
    100%     { background-color: #ffffff;}
}​


/* =================== 
	main colours ======================================== */
	
/*  if the background-color is rgba please provide an alternative for oldIE in oldie.css */
h1, h2, h3 {color: rgba(255,147,30,1);}
.topbar { background-color: rgba(33,40,48,0.75);}
.topbar a {color: #fff;}

.extendlist a, .linklist a, .var-member a {color: #354225;}

.extendlist a:hover, .extendlist a:focus,
.linklist a:hover, .linklist a:focus,
.var-member a:hover, .var-member a:focus {color: #5c7340;}

.param-type {
    font-weight:normal;
}
