body {
  background-color: #FFF;
  padding: 2em;
  font-family: sans-serif;
}

a {
  color: #4770A8
}

div.pageHeader {
  background: #4770A8 url(background-title.png) repeat-x left top;
  height: 40px;
  color: #FFF;
}
div.pageHeader h1 {
  margin: 0;
  padding: 0.2em;
  font-size: 1.6em;
}

div.pageBody {
  display: table;
}

div.pageNavigation {
  display: table-cell;
  background-color: #FFF;
  padding: 1em;
  min-width: 20em;
}
div.content {
  display: table-cell;
  width: 100%;
}

div.pageFooter {
  margin-top: 2em;
  background: #4770A8 url(background-title.png) repeat-x left top;
  height: 20px;
  color: #FFF;
}

div.navigation {
  margin: 0 0 1em 0;
  background: #4770A8 url(background-title.png) repeat-x left -80px;
  text-align: center;
  padding: 4px;
}
div.navigation ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.navigation ul li {
  display: inline;
  font-weight: bold;
  padding: 0 0.5em;
}
div.navigation ul li a {
  color: #000;
  text-decoration: none;
}

a.jumpToTop {
  display: block;
  text-align: right;
  font-size: 0.8em;
  text-decoration: none;
}

ul.tree {
  list-style-type: circle;
}
ul.tree ul {
  list-style-type: circle;
}

h3 {
  border-bottom: 1px dotted silver;
  padding: 1em;
}

.group {
  border-bottom: 1px dotted silver;
}



/*
 function prototype
*/
.prototype {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #F0F0F0;
  border: 1px solid #808080;
  padding: 1em;
}
.prototype ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
.prototype ul li {
  display: inline;
}
.prototype ul.inheritance {
  margin-left: 2em;
  display: block;
}
.prototype ul.types {
  margin-right: 0.5em;
}
.prototype ul.types li.type {
  font-style: italic;
}
.prototype .keyword {
  font-weight: bold;
  margin-right: 0.5em;
}
.prototype .name {
  font-weight: bold;
}

/*
 variable type hint
*/
.variable .type {
  font-style: italic;
}
.variable .name {
  font-weight: normal;
}