

h1, h2, h3 {
   border-bottom: 1px solid black;
}

.classNamespace {
}

.classNamespaceName:before{
   content: "namespace "
}

.classNamespaceName{
   
}

.className{

}

.classConstants{
   
}

.classConstantList{
   list-style-type: none;
}


.classConstantItem:before {
   content: "const ";
   font-weight: bold;
   font-family: monospace;
}

.classConstantItem{
   
}

.classMembers{
   
}

.classMemberList{
   list-style-type: none;
}

.classMemberItem{
   
}

.classMethods{
   
}

.classMethod{
   
}

.classMethodName{
   display:inline;
}

.classMethodList{
   list-style-type: none;
}

.classMethodItem{
   margin-bottom: 25px;
   margin-top: 20px;
}

.classMethodParameters{
   
}

.classMethodParameter{
   
}

.classMethodParameterList{
   list-style-type: none;
}

.classDocBlock{
   margin-left: 25px;
}

.prefixes{
   display:inline;
   font-family: monospace;
}

.author:before{
   content: "by ";
}

.author{
   margin-top: 5px;
   
}

.copyright:before{
   content: "Ⓒ ";
}

.copyright{
   
}

.description{
   background-color: #EEEEEE;
   margin-top: 15px;
   padding: 10px;
}

.shortDescription{
   margin-bottom: 25px;
}

.longDescription{
   
}

.inheritance {
   margin-top:-20px;
}

.typeHint{
   display:inline;
   font-family: monospace;
}
